@model Core.Entities.PortfolioItem

@{
    ViewData["Title"] = "Details";
}

<div style="margin:160px;">
    <h1>Details</h1>

    <div>
        <h4>PortfolioItem</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Image 
            </dt>
            <dd class="col-sm-10">
             <img src="~/img/portfolio/@Model.ImageUrl" style="height:120px;" class="img-thumbnail" />
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
    </div>

</div>